/* NORMAL */

body {
  background-color: #FFFFFF;
  font-family: 'Baskerville', serif;
  line-height: initial;
  letter-spacing: 0.5px;
  font-size: 0.95em;
}

nav {
  padding-bottom: 10px;
}

nav a {
  display:inline;
  margin-right: 10px;
  padding-left: 0px;
  text-decoration: underline;
  text-transform: capitalize;
  color: #000000;
}

h1 {
  font-family: 'Yatra One', cursive;
  font-size: 30px;
}

nav a:hover, a:focus{
  background-color: #0D1A80;
  color:#FFFFFF;
  top: -20px;
}

a.skiplink{
  position: relative;
    top: -80px;
    transition: top ease-in 0.3s;
}

a.skiplink:focus, a.skiplink:active{
  display: inline;
  top: 0px;
}

.credit-text
{
  font-size: 11px;
  font-style: italic;
}

.current{
  background-color: #0D1A80;
  text-transform: capitalize;
  color:#FFFFFF;
}

.post-title{
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom:20px;
}

#container{
  width: 500px;
  margin: 20px 0px 0px 100px;
  position: relative;
  background-color: white;
}

/* MEDIA QUERIES  */
